<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itzhang.mapper.LeaveMsgMapper">
    <insert id="insertMsg" keyProperty="id" useGeneratedKeys="true">
        insert into leavemsg value (#{id}, #{content}, now())
    </insert>
    <delete id="deleteMsgByMsgId">
        delete from leavemsg where id = #{msgId}
    </delete>
    <select id="getMsgs" resultType="com.itzhang.entity.LeaveMsg">
        select id, content, time from leavemsg
        <where>
            content like "%${key}%"
        </where>
         limit #{start}, #{offset}
    </select>
</mapper>
