<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itzhang.mapper.UserMapper">
    <insert id="insertUser" useGeneratedKeys="true" keyProperty="id">
        insert into user value (#{id}, #{username}, #{password}, #{role_id}, #{salt})
    </insert>
    <update id="updatePasswordById">
        update user set password = #{password}, salt = #{salt} where id = #{id}
    </update>
    <update id="updateRoleById">
        update user set role_id = #{role_id}where id = #{id}
    </update>
    <delete id="deleteUserById">
        delete from user where id = #{id}
    </delete>

    <select id="getUsers" resultType="com.itzhang.pojo.User">
        select id, username, password, salt, role_id from user limit #{start}, #{offset}
    </select>
    <select id="getUserByUsername" resultType="com.itzhang.pojo.User" parameterType="String">
        select id, username,password, salt, role_id from user where username=#{username}
    </select>

</mapper>
